<!-- //views/skills/new.ejs -->

<%- include('../partials/header') %>

<form action="/skills" method="POST" autocomplete="off">
  <label for="name">Name</label>
  <input type="text" name="name" />
  <label for="status">Rating</label>
  <input type="text" name="creditRating" />
  <button type="submit">Add issuer</button>
</form>
