<!-- //views/skills/update.ejs -->

<%- include('../partials/header') %>

<form action="/skills" method="PUT" autocomplete="off">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= skill.name %>" />
  <label for="creditRating">Credit Rating</label>
  <input type="text" name="creditRating" value="<%= skill.creditRating %>" />
  <button>Update</button>
</form>
