<!-- //views/skills/update.ejs -->

<%- include('../partials/header') %>

<form action="/skills/<%= skills[i].id %>?_method=PUT" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= skill.name %>" />
  <label for="creditRating">Credit Rating</label>
  <input type="text" name="creditRating" value="<%= skill.creditRating %>" />
  <button type="submit">Update</button>
</form>
